@import "../base/variables";
@import "../base/mixins";

#main-footer {
  @include box-shadow;
}

#footer-bottom {
  .container {
    margin: {
      top: 10px;
      bottom: 10px;
    }

    p {
      font: {
        weight: 200;
        size: 14px;
      }
    }
  }

  .fa-heart {
    color: red;
  }

  .fa-headphones {
    color: orange;
  }
}

.social-footer {
  .fa {
    color: $color-text;
  }

  .fa-stack {
    font-size: 48px !important;

    &:hover {
      .fa {
        transition: $transition-ease;
        color: $color-accent;
      }
    }
  }
}

@media #{$phone-only} {
  .contact-map {
    background-color: transparent;
    .map-holder {
      filter: $filter-url;
      filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      opacity: 1 !important;
    }
  }
}

@media #{$small-layout} {
  .et_pb_column {
    .et_pb_newsletter_form {
      @include newsletter_form;
    }
    &.et_pb_column_inner {
      .et_pb_newsletter_form {
        @include newsletter_form;
      }
    }
  }
}

@media #{$medium-breakpoint} {
  .et_header_style_centered {
    #main-header {
      .mobile_nav {
        background-color: transparent;
        position: relative;
        bottom: 25px;
        right: 0;
      }
    }
    header {
      &#main-header {
        .logo_container {
            display: none;
        }
      }
    }

    .mobile_nav {
      background-color: transparent;
      position: relative;
      bottom: 25px;
      right: 0;
      display:none;

      .select_page {
        display: none;

      }
    }
  }

  .et_header_style_split {
    .mobile_nav {
      .select_page{
        display: none;
      }
    }
  }

  .mobile_menu_bar{
    &:before {
      font-size: 48px;
      color: $color-text;
    }
  }

  #main-header {
    .et_mobile_menu {
      background-color: $color-dark-opaque !important;
    }
    .nav {
      li {
        ul{
          @extend .et_mobile_menu;

        }
      }
    }

    .et-search-form {
      @extend .et_mobile_menu;
    }
  }

  .et_mobile_menu {
    border-top: 3px solid $color-accent;
  }

  #top-header {

    #et-info {
      line-height: 2.4em;
      text-align: left;
    }
    #et-secondary-menu {
      @extend #et-info;
    }
  }

  #footer-bottom {
    .container {
      p {
        font-size: 11px;
      }
    }
  }

  .quote-cta {
    bottom: 40px;
  }

  .intern-cta {
    top: 0;
  }

  .social-footer {
    position: relative;
    bottom: 50px;

    .fa-stack {
      font-size: 24px !important;
    }

    span {
      margin: 0.15em 0.2em;
    }
  }

  .email-optin {
    .desc {
      padding: 20px 0;
    }
  }
}
